.loader{
    width: 200px;
    height: 200px;
    /* background-color: rgb(231, 240, 240); */
    border:20px solid  rgb(161, 161, 161);
    border-top: 20px solid;
    border-radius: 50%;
    animation: spin 2s linear infinite ;
}
@keyframes spin{
    /* from{ border:20px solid  rgb(180, 180, 167);}
    to { border: 20px solid yellow;} */
    /* 0%{border:20px solid yellow ; }
    50%{  border: 20px solid yellow ; }
    75%{border: 20px solid yellow;}
    100%{border: 20px solid yellow ;}
 */
  0%{ transform: rotate(0deg);}

  /* 25%{ transform: rotate(360deg); 
        border-top:20px solid yellow ;}

  50%{ transform: rotate(360deg); 
        border-top:20px solid rgb(255, 134, 34) ;}

  75%{ transform: rotate(360deg); 
        border-top:20px solid rgb(50, 216, 219) ;}

  100%{ transform: rotate(360deg); 
        border-top:20px solid purple;} */
  100%{ transform: rotate(360deg); 
        border-top:20px solid yellow ;
 }
}